<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="template/template.xhtml">

	<ui:define name="contents">

			#{view.viewId}

<!-- 		<div class="box"> -->
<!-- 			<h2>Welcome to Accumen</h2> -->
<!-- 			<p> -->
<!-- 				This is <strong>Accumen</strong>, a free, fully standards-compliant -->
<!-- 				CSS template by <a href="http://www.freecsstemplates.org/">Free -->
<!-- 					CSS Templates</a>. The images used in this template are from <a -->
<!-- 					href="http://fotogrph.com/">Fotogrph</a>. This free template is -->
<!-- 				released under a <a -->
<!-- 					href="http://creativecommons.org/licenses/by/3.0/">Creative -->
<!-- 					Commons Attributions 3.0</a> license, so you are pretty much free to do -->
<!-- 				whatever you want with it (even use it commercially) provided you -->
<!-- 				keep the footer credits intact. Aside from that, have fun with it :) -->
<!-- 			</p> -->
<!-- 		</div> -->
<!-- 		<div class="box"> -->
<!-- 			<h3>Nullam curae integer</h3> -->
<!-- 			<p>Congue quam posuere elit adipiscing varius tellus. Consequat -->
<!-- 				porttitor dolor sed viverra cum congue. Varius primis auctor est -->
<!-- 				nisl at mi quam. Ante libero arcu ridiculus blandit placerat. Sociis -->
<!-- 				in consequat suscipit felis vivamus odio phasellus. Elementum -->
<!-- 				pellentesque vestibulum gravida morbi turpis ante nullam. -->
<!-- 				Pellentesque placerat porta ipsum.</p> -->
<!-- 		</div> -->
<!-- 		<div class="box"> -->
<!-- 			<h3>Accumsan euismod gravida pellentesque</h3> -->
<!-- 			<p>Sociis dictum mauris ultricies suspendisse in quisque. Massa -->
<!-- 				non morbi magna eget. Cubilia aliquet duis sapien ac nascetur -->
<!-- 				fringilla ullamcorper. Auctor est odio rhoncus pharetra purus -->
<!-- 				mattis. Ultrices vulputate lacus ridiculus imperdiet cursus. Tellus -->
<!-- 				ridiculus morbi fringilla volutpat mi magna aliquam.</p> -->
<!-- 		</div> -->
		
	</ui:define>
</ui:composition>

</html>
