<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>JSource Template</title>
	<h:outputStylesheet library="default" name="css/style.css" />
	<h:outputStylesheet library="default" name="css/prettify.css" />

	<link href="http://fonts.googleapis.com/css?family=Open+Sans"
		rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Kreon"
		rel="stylesheet" type="text/css" />

</h:head>

<h:body>
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				<h1>JSource Template</h1>
			</div>
			<div id="menu">

				<ul>
					<li class="#{view.viewId == '/home.xhtml' ? 'first active' : ''}">
						<a href="home.jsf">Home</a>
					</li>
					<li class="#{view.viewId == '/about.xhtml' ? 'first active' : ''}">
						<a href="about.jsf">About</a>
					</li>
				</ul>
				<br class="clearfix" />
			</div>
		</div>
		<div id="page-bottom">

			<div id="page-bottom-content">
				<ui:insert name="contents" />
			</div>

			<br class="clearfix" />
		</div>
	</div>
	<div id="footer">
		&copy; 2012 <a href="http://about.me/olinasc"> Olinasc</a> | Design by
		<a href="http://www.freecsstemplates.org/">FCT</a>
	</div>

</h:body>
</html>
